page-home {
@font-face {
    font-family:'Roboto Light';
    src: url('../../assets/fonts/Roboto Light.eot');
	src: url('../../assets/fonts/Roboto Light.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Roboto Light.woff2') format('woff2'),
		url('../../assets/fonts/Roboto Light.woff') format('woff'),
		url('../../assets/fonts/Roboto Light.svg#Roboto Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
 ion-title img{width: 60%; display: block; margin: 0 auto;}
.no-border{border: none !important;}
.nopaddingleft{padding-left: 0px !important;}
.no-padding{padding: 0 !important;}
.label-md{margin-top: 25px;}
.padding-right{padding-right: 5px;}
.nobackground{background: none;}

.custom-back{
    background: url("../assets/images/homeback.jpg") no-repeat;
    background-size: cover; 
    margin: auto; 
}
    .container{width: 85%; margin: auto;}
    .formdiv{margin: auto; width: 80%;}
    .formdiv h2{font-family:'Roboto Light'; color: #fff; text-align: center; font-size: 1.6em; margin: 0;font-weight: normal; padding-bottom: 15px; padding-top: 65%;}
    .formdiv img{display: block; margin: 0 auto; }
    .social-set{text-align: center; color: #fff; padding-top: 10px; font-size: 20px;}
    .social-set ion-icon{padding: 0 3px;}
    .marginbtn{margin-bottom: 2%;}

    .item-input .label-md{color: #fff;}
    .item-input-has-focus .label-md[floating], .input-has-focus, .label-md[floating]{color: #fff;}
    .bar-button-default-md:hover:not(.disable-hover){color: #fff;}
    .phone_text{text-align: center; color: #fff; font-size: 15px;}
    .phone_text ion-icon{padding-right: 4px; padding-bottom: 5%;}
    .linktext{font-family:'Roboto Medium'; color: #fff; font-size: 14px; text-align: center; padding-top: 10px; text-decoration: none; display: block; margin: auto;}
    .texttitle{color: #fff;}
    .toolbar-ios-primary .toolbar-title-ios, .toolbar-md-primary .toolbar-title-md{font-size: 15px; font-weight: normal;}
}